*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
#nav-list{
	margin-top: 0px;
}
#nav-list{
	text-align: center;
}
#nav-list a:hover {
	background-color: rgb(251, 251, 251);
}
body{
	font-family: 'Oxygen', sans-serif;
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}